<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Achievement-Tracker | Error</title>
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- CSS stylesheet -->
    <link rel="stylesheet" href="/css/variables.css">
    <link rel="stylesheet" href="/css/fragments.css">
    <style>
        body {
            background-color: var(--main-background-color);
            color: var(--main-font-color);
            font-family: var(--font-family);
            margin: 0;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }
        h1 {
            text-align: center;
            margin: auto;
        }
        footer {
            margin-top: auto;
        }
    </style>
</head>
<body>
    <th:block th:insert="~{fragments :: header}"></th:block>
    <h1>Oops! Something went wrong..</h1>
    <th:block th:insert="~{fragments :: footer}"></th:block>
</body>
</html>