<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${game.title}"/>
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- JS scripts -->
    <script type="text/javascript" src="/js/game-details.js" defer></script>
    <script type="text/javascript" src="/js/fragments.js" defer></script>
    <!-- CSS stylesheet -->
    <link rel="stylesheet" href="/css/variables.css">
    <link rel="stylesheet" href="/css/game-details.css">
    <link rel="stylesheet" href="/css/fragments.css">
</head>
<body th:style="'background-image: url(' + ${game.images.backgroundImageURL} + ')'">
    <th:block th:insert="~{fragments :: header}"></th:block>
    <main>
        <div id="game-information">
            <img id="game-header" src="/img/game-header-placeholder.png" th:data-actual-src="${game.images.headerImageURL}" alt="header-image">
            <div id="reviews-release-container">
                <span>POSITIVE REVIEWS:</span><a th:text="${game.rating} + ' %'" th:title="${#numbers.formatInteger(game.reviews, 3, 'COMMA')} + ' Reviews'" target="_blank" th:href="@{'https://store.steampowered.com/app/' + ${game.storeId} + '/#app_reviews_hash'}"/>
                <span>RELEASE DATE:</span><span th:text="${#temporals.format(game.releaseDate, 'dd MMM, yyyy')}"/>
            </div>
            <div id="game-information-right">
                <div id="title-container"><h1 id="game-title" th:text="${game.title}"/>
                    <a target="_blank" th:href="'https://store.steampowered.com/app/' + ${game.storeId}" title="Visit Store Page">
                        <img id="steam-store-logo" src="/img/steam-store-logo.png" alt="steam-store-icon"/>
                    </a>
                </div>
                <ul id="game-categories">
                    <li th:each="category : ${categories}">
                        <a th:text="${category.name}" target="_blank" th:href=" '/games?categories=' + ${category.id}"/>
                    </li>
                </ul>
                <p id="game-description" th:utext="${game.shortDescription}"></p>
            </div>
            <hr>
            <div id="game-stats">
                <h2>Rating &amp; Statistics</h2>
                <div class="circular-progress">
                    <span id="challenge-rating-points" class="progress-value" th:data-points="${game.challengeRating}">0 points</span>
                    <span id="challenge-rating-percentile" class="progress-value" th:if="${game.challengeRating != 0}" th:inline="text">[[${challengePercentile}]]th percentile</span>
                </div>
                <span class="stat-title">Challenge Rating</span>
                <div class="circular-progress">
                    <span class="progress-value" th:data-percent="${game.difficultySpread}">0.0%</span>
                </div>
                <span class="stat-title">Difficulty Spread</span>
                <div class="circular-progress">
                    <span class="progress-value" th:data-percent="${game.averageCompletion}">0.0%</span>
                </div>
                <span class="stat-title">Average Completion</span>
            </div>
            <hr>
            <div id="achievement-tier-table">
                <h2 th:inline="text">Achievements ([[${game.achievements.size()}]])</h2>
                <th:block th:each="tier : ${tiers}">
                    <div class="tier-container" th:style="'--tier-color:' + ${tier.color}" th:data-tier="${tier.name()}">
                        <span th:text="${tier.name()}"></span>
                        <span th:inline="text">[[${tier.maxPercentage}]]% - [[${tier.minPercentage}]]%</span>
                    </div>
                    <div class="achievements-carousel-wrapper">
                        <button data-direction="left" class="carousel-scroll-button"></button>
                        <div class="achievements-container" th:inline="text">
                            <span class="empty-tier-message" th:inline="text" style="display: none">-- no [[${tier.name().toLowerCase()}]] achievements --</span>
                            <img class="achievement-icon" th:each="achievement : ${game.achievementsAsList}" th:if="${achievement.tier.equals(tier)}"
                                 th:data-actual-src="${achievement.hidden ? achievement.iconGrayURL : achievement.iconURL}" src="/img/achievement-icon-placeholder.png"
                                 th:title="${(achievement.hidden ? 'Hidden Achievement' : achievement.displayName) + ' - ' + achievement.percentage + '%'}" th:data-id="${achievement.name}"
                                 th:data-hidden="${achievement.hidden ? true : null}" th:style="'--tier-color:' + ${tier.color}" alt="achievement-icon"/>
                        </div>
                        <button data-direction="right" class="carousel-scroll-button"></button>
                    </div>
                </th:block>
            </div>
        </div>
        <div id="achievement-details">
            <div id="achievement-filters">
                <input id="achievement-search" type="search" placeholder="Search achievements by name, description.." autocomplete="off">
                <label th:style="${game.hiddenAchievementCount != 0 ? '' : 'display: none' }" th:inline="text"><input id="hidden-achievements-filter" type="checkbox">HIDDEN ACHIEVEMENTS ([[${game.hiddenAchievementCount}]])</label>
            </div>
            <div th:each="tier : ${tiers}" class="tier-dropdown-container" th:data-tier="${tier.name()}" data-state="collapsed">
                <div class="tier-information">
                    <h2 class="tier-title" th:inline="text">[[${#strings.substring(tier.name(),0,1).toUpperCase() + #strings.substring(tier.name().toLowerCase(),1)}]] (<span data-role="count">0</span>)</h2>
                    <span class="dropdown-indicator"></span>
                </div>
                <hr>
                <table class="achievement-details-table">
                    <tbody>
                        <tr class="no-achievements-row" style="display: none" data-state="collapsed"><td colspan="3">-- no [[${tier.name().toLowerCase()}]] achievements --</td></tr>
                        <tr th:each="achievement : ${game.achievementsAsList.reversed()}" th:if="${achievement.tier.equals(tier)}" th:data-hidden="${achievement.hidden ? true : null }"
                            th:data-id="${achievement.name}" th:style="'display: none; --achievement-percentage:' + ${achievement.percentage} + '%'" data-state="collapsed">
                            <td><img class="achievement-icon-big" th:data-actual-src="${achievement.hidden ? achievement.iconGrayURL : achievement.iconURL}" src="/img/achievement-icon-placeholder.png" alt="icon"></td>
                            <td>
                                <div class="achievement-text-details">
                                    <h3 class="achievement-title" th:text="${achievement.displayName}" th:title="${achievement.displayName}"/>
                                    <p class="achievement-description" th:text="${achievement.description}" th:title="${achievement.description}"></p>
                                </div>
                            </td>
                            <td><span class="achievement-percentage" th:text="${achievement.percentage} + '%'"></span></td>
                        </tr>
                    </tbody>
                </table>
                <button class="show-less-button" style="display: none"><span>SHOW LESS</span><img src="/img/arrow-up.png"></button>
                <button class="show-more-button" style="display: none"><span>SHOW MORE</span><img src="/img/arrow-up.png"></button>
            </div>
            <button id="scroll-to-top" disabled><img src="/img/back-to-top-indicator.png"></button>
        </div>
    </main>
    <th:block th:insert="~{fragments :: footer}"></th:block>
</body>
</html>