<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Achievement-Tracker</title>
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- JS scripts -->
    <script type="text/javascript" src="/js/fragments.js" defer></script>
    <script type="text/javascript" src="/js/home.js" defer></script>
    <!-- CSS stylesheet -->
    <link rel="stylesheet" href="/css/variables.css">
    <link rel="stylesheet" href="/css/fragments.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <th:block th:insert="~{fragments :: header}"></th:block>
    <main>
        <div id="website-banner-section">
            <button id="view-games-btn"><a target="_self" href="/games">VIEW ALL GAMES</a></button>
        </div>
        <div id="leaderboards-section">
            <div class="leaderboard-container">
                <h3 class="leaderboard-title">Most Challenging Games</h3>
                <table class="leaderboard">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th></th>
                            <th>NAME</th>
                            <th>POINTS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="game, i : ${challengingGames}">
                            <td th:inline="text">[[${i.count}]].</td>
                            <td><a target="_blank" th:href="@{'/games/' + ${game.storeId}}"><img class="game-capsule" src="/img/game-capsule-placeholder.png" th:data-actual-src="${game.capsuleSmallImageURL}"></a></td>
                            <td><a class="leaderboard-game-title" target="_blank" th:href="@{'/games/' + ${game.storeId}}" th:text="${game.title}"></a></td>
                            <td th:text="${game.challengeRating}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="leaderboard-container">
                <h3 class="leaderboard-title">Latest Games</h3>
                <table class="leaderboard">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th></th>
                        <th>NAME</th>
                        <th>RELEASE</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="game, i : ${recentGames}">
                        <td th:inline="text">[[${i.count}]].</td>
                        <td><a target="_blank" th:href="@{'/games/' + ${game.storeId}}"><img class="game-capsule" src="/img/game-capsule-placeholder.png" th:data-actual-src="${game.capsuleSmallImageURL}"></a></td>
                        <td><a class="leaderboard-game-title" target="_blank" th:href="@{'/games/' + ${game.storeId}}" th:text="${game.title}"></a></td>
                        <td th:text="${#temporals.format(game.releaseDate, 'MM/dd/yyyy')}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <th:block th:insert="~{fragments :: footer}"></th:block>
</body>
</html>