body {
    background-color: var(--main-background-color);
    color: var(--main-font-color);
    font-family: var(--font-family);
    margin: 0;
}

/* Layout Containers - Main */
#main-container {
    display: grid;
    grid-template-columns: 75% 1fr;
    justify-content: center;
    align-items: start;
    gap: 1em;
}
#main-container-header, table, #main-container-footer {
    width: 90%;
    justify-self: end;
}
#main-container-header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    grid-area: 1/1;
}
table {
    grid-area: 2/1;
}
#main-container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: 3/1;
}
#page-buttons-container {
    display: flex;
    align-items: center;
    gap: 1em;
}

/* Layout Containers - Filters */
#filter-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    grid-area: 2/2;
    margin-top: 1em;
}
#achievements-filter {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
#category-filter {
    display: flex;
    flex-direction: column;
}
#reviews-inputs-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#release-inputs-container {
    display: grid;
    align-items: center;
    justify-content: normal;
    gap: 0.5em;
}
label[for='min-release-date'] {
    grid-area: 1/1;
}
label[for='max-release-date'] {
    grid-area: 2/1;
}
#min-release-date {
    grid-area: 1/2;
}
#max-release-date {
    grid-area: 2/2;
}
#form-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    width: 100%;
}
#category-filter, #reviews-filter, #release-date-filter {
    width: 50%;
}
#filter-submit-button, #filter-form button[type='reset'] {
    width: calc(50% + 2em);
}

/* Table */
table {
    border-collapse: separate;
    border-spacing: 0 0.4em;
}
table:has(tr.no-results) {
    min-height: 100%;
}
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.1em;
}
.title-achievements-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20%;
}
.top-achievements-container {
    display: flex;
    gap: 0.5em;
}
span.column-name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    vertical-align: middle;
}
span.sort-direction {
    background-repeat: no-repeat;
    background-size: 12px auto;
    background-position: center;
    width: 1em;
    height: 1em;
}
th[data-sorted='default'] span.sort-direction {
    background-image: url("../img/sort-default.png");
}
th[data-sorted='asc'] span.sort-direction {
    background-image: url("../img/sort-ascending.png");
}
th[data-sorted='desc'] span.sort-direction {
    background-image: url("../img/sort-descending.png");
}
th, td {
    text-align: center;
    padding: 0;
}
th:hover {
    cursor: pointer;
}
th:hover span.column-name {
    text-decoration: underline;
}
td:nth-of-type(1) {
    width: 0;
}
td:nth-of-type(2) {
    width: 35%;
}
td:nth-of-type(3) {
    width: auto;
}
td:nth-of-type(4) {
    width: auto;
}
td:nth-of-type(5) {
    width: 8%;
}
td:nth-of-type(6) {
    width: 10%;
}
td:has(img.game-capsule) {
    line-height: 0;
}
td:has(.title-achievements-container) {
    padding-left: 1em;
}
tbody > tr:not(.no-results) {
    background-color: var(--background-color-darker);
}
tbody > tr:not(.no-results):hover {
    background-color: var(--background-color-darkest);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
}
tbody td {
    border-top: solid thin transparent;
    border-bottom: solid thin transparent;
}
tbody td:first-of-type {
    border-left: solid thin transparent;
}
tbody td:last-of-type {
    border-right: solid thin transparent;
}
tbody > tr:not(.no-results):hover td {
    border-top: solid thin var(--highlight-element-color);
    border-bottom: solid thin var(--highlight-element-color);
}
tbody > tr:not(.no-results):hover td:first-of-type {
    border-left: solid thin var(--highlight-element-color);
}
tbody > tr:not(.no-results):hover td:last-of-type {
    border-right: solid thin var(--highlight-element-color);
}

/* Page-Size & Search */
#page-entries-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("../img/dropdown-indicator.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 10px auto;
    background-origin: content-box;
    background-color: transparent;
    text-align: start;
    color: inherit;
    border-color: var(--highlight-element-color);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    font-size: inherit;
    font-family: inherit;
    padding: 0.25em 0.3em;
    width: 3.4em;
    cursor: pointer;
}
#page-entries-select:focus {
    outline: none;
    border-color: var(--active-element-color);
}
#page-entries-select > option {
    background-color: var(--main-background-color);
    color: inherit;
}
#game-search {
    font-family: inherit;
    font-size: inherit;
    padding: 0 0.8em;
    background-color: var(--main-background-color);
    border-width: 1px;
    color: rgba(239,239,239,0.8);
    width: 20%;
}

/* Table-Data elements */
.text-column {
    display: block;
    margin: auto;
}
.game-capsule {
    max-width: 200px;
    background-color: var(--background-color-darkest);
}
.game-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: inherit;
    text-align: start;
    text-decoration: none;
}
.game-title:hover {
    text-decoration: underline;
}
.achievement-icon {
    height: 35px;
    width: 35px;
    border-radius: 2px;
    border: solid thin #DAB842;
    background-color: var(--background-color-darkest);
}
.hidden-achievement-icon {
    border-color: grey;
}

/* Pagination Footer */
.page-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5em;
    height: 2em;
    border: transparent;
    border-radius: 5px;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    background-color: transparent;
    color: var(--alt-font-color);
}
.page-buttons:hover {
    border: solid thin var(--highlight-element-color);
    cursor: pointer;
}
.page-buttons:disabled {
    color: #3f4c53;
}
.page-buttons:disabled:hover {
    cursor: default;
    border-width: 0;
}
.selected-page-button {
    background-color: var(--active-element-color);
    border: solid thin var(--active-element-color);
    color: inherit;
}
.selected-page-button:hover {
    border: inherit;
}

/* Filters */
#filter-form {
    color: var(--alt-font-color);
}
.filter-header {
    padding: 0;
    margin: 0 0 1em 0;
    color: var(--main-font-color);
}
#achievements-filter, #category-filter, #reviews-filter, #release-date-filter {
    border-radius: 15px;
    border: solid thin var(--highlight-element-color);
    padding: 1em;
}
#category-filter, #reviews-filter, #release-date-filter {
    background-color: var(--background-color-darker);
}
#achievements-filter {
    border: 0;
}
input {
    border-color: var(--highlight-element-color);
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    background-color: var(--main-font-color);
    color: var(--main-background-color);
}
input:focus {
    outline: none;
    border-color: var(--active-element-color);
}
input::placeholder {
    color: inherit;
}
input[type='checkbox'] {
    accent-color: white;
}
label:has(#hidden-achievements-checkbox) {
    margin-left: 2em;
}
#filter-form label:hover,#filter-form input[type='checkbox'] {
    cursor: pointer;
}
#filter-form label:has(input[type='checkbox']:checked) {
    font-weight: bold;
    color: var(--main-font-color);
}
#category-search {
    font-size: inherit;
    font-family: inherit;
    padding-left: 0.5em;
}
#category-list {
    border: solid thin var(--highlight-element-color);
    padding: 0;
    margin: 0.3em 0 0 0;
    list-style-type: none;
    overflow-y: scroll;
    max-height: 18.139em;
}
#category-list::-webkit-scrollbar {
    width: 0.5em;
}
#category-list::-webkit-scrollbar-track {
    border-left: solid thin var(--highlight-element-color);
}
#category-list::-webkit-scrollbar-thumb {
    background-color: var(--alt-font-color);
}
#category-list::-webkit-scrollbar-thumb:hover {
    background-color: var(--active-element-color);
}
.category-name {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 0.3em;
    padding: 0.2em;
}
.category-name > span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.category-item:hover {
    background-color: var(--highlight-element-color);
}
.category-item:has(input[type='checkbox']:checked) {
    background: linear-gradient(to left, rgba(27,40,54,1) -50%, rgba(84, 159, 200,1));
}
#min-reviews-input, #max-reviews-input {
    text-align: center;
    font-size: inherit;
    font-family: inherit;
}
#range-separator {
    font-size: 2em;
}
#min-release-date, #max-release-date {
    text-align: center;
    font-size: inherit;
    font-family: inherit;
}
#min-release-date::-webkit-calendar-picker-indicator, #max-release-date::-webkit-calendar-picker-indicator {
    color: var(--main-font-color);
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
}
#filter-submit-button {
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    cursor: pointer;
    color: var(--main-font-color);
    background: linear-gradient(to top, rgba(27,40,54,1) -150%, rgba(84, 159, 200,1));
    border: 0;
    border-radius: 5px;
    padding: 0.3em 0;
}
#filter-submit-button:disabled {
    cursor: not-allowed;
    font-weight: normal;
    color: unset;
    background: transparent;
}
#filter-form button[type='reset'] {
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    cursor: pointer;
    color: unset;
    background-color: var(--highlight-element-color);
    border: 0;
    border-radius: 5px;
    padding: 0.3em 0;
}
#filter-submit-button:hover, #filter-form button[type='reset']:hover {
    text-decoration: underline;
}