body {
    background-color: var(--main-background-color);
    color: var(--main-font-color);
    font-family: var(--font-family);
}

/* Layout Containers - Achievement Tier Table */
#achievement-tier-table {
    display: grid;
    grid-template-rows: repeat(6, 5em);
    grid-template-columns: 12em minmax(24.75em, 51.25em);
}
.tier-container {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
}
.achievements-carousel-wrapper {
    grid-column: 2;
    display: flex;
    justify-content: flex-start;
    position: relative;
}
.achievements-container {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0 2.5em;
    overflow-x: auto;
}

/* Layout Containers - Achievement Details Tables */
/* TODO : put borders on this and maybe coloring for the percentage amount, then move on to centering the whole page with a background */
.achievement-text-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 1em;
}

/* Game Details */
#game-title, #game-description {
    margin: 0;
}

/* Achievement Tier Table */
.tier-container {
    border-bottom: solid thin var(--highlight-element-color);
    border-left: solid thin var(--highlight-element-color);
}
.tier-container:first-of-type, .achievements-carousel-wrapper:nth-of-type(2) {
    border-top: solid thin var(--highlight-element-color);
}
.tier-container > span:first-of-type {
    font-weight: bold;
}
.tier-container > span:last-of-type {
    font-style: italic;
}
.achievements-carousel-wrapper {
    border-bottom: solid thin var(--highlight-element-color);
    border-right: solid thin var(--highlight-element-color);
}
.achievements-container::-webkit-scrollbar {
    height: 0.2em;
}
.achievements-container::-webkit-scrollbar-track {
    border-left: solid thin var(--highlight-element-color);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.achievements-container::-webkit-scrollbar-thumb {
    background-color: var(--alt-font-color);
    border-radius: 5px;
}
.achievements-container::-webkit-scrollbar-thumb:hover {
    background-color: var(--active-element-color);
}
.carousel-scroll-button {
    position: absolute;
    top: 22%;
    z-index: 1;
    background-image: url("../img/carousel-scroll-right.png");
    background-color: rgba(50, 62, 75, 0.4); /* --highlight-element-color: #323E4B */
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    border: 0;
    border-radius: 20px;
    height: 3em;
    width: 3em;
}
.carousel-scroll-button[data-direction='left'] {
    transform: scaleX(-1);
    left: 0;
}
.carousel-scroll-button[data-direction='right'] {
    right: 0;
}
.carousel-scroll-button:hover {
    background-color: rgba(50, 62, 75, 0.7); /* --highlight-element-color: #323E4B */
}
.carousel-scroll-button:disabled {
    background-image: url("../img/carousel-scroll-right-disabled.png");
}
.carousel-scroll-button[data-direction='left']:disabled {
    transform: scaleX(-1);
}
.carousel-scroll-button:disabled, .carousel-scroll-button:disabled:hover {
    background-color: transparent;
}
.achievement-icon {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
}
.empty-tier-message {
    text-align: center;
    font-style: italic;
    color: var(--alt-font-color);
}

/* Achievement Details */
.achievement-title, .achievement-description {
    margin: 0;
}
.achievement-icon-big {
    width: 64px;
    height: 64px;
}