body {
    background-color: var(--main-background-color);
    color: var(--main-font-color);
    font-family: var(--font-family);
    margin: 0;
}

#leaderboards-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    width: 80%;
    margin: auto;
}
.leaderboard-container {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    border: solid thin var(--highlight-element-color);
    border-radius: 3px;
    background-color: rgba(22,32,44, 0.7);
    transition: background-color 0.1s ease-out, box-shadow 0.1s ease-out;
}
.leaderboard-container .leaderboard-title {
    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: rgba(84,159,200, 0.8);
    padding-left: 3%;
    margin: 1em 0;
    color: rgba(239,239,239, 0.9);
    transition: color 0.1s ease-out, border-left-color 0.1s ease-out;
}
.leaderboard-container:hover {
    background-color: var(--background-color-darker);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}
.leaderboard-container:hover .leaderboard-title {
    color: var(--main-font-color);
    border-left-color: var(--active-element-color);
}
.leaderboard-container:first-of-type {
    grid-column: 1/2;
}
.leaderboard-container:nth-of-type(2) {
    grid-column: 2/3;
}

.leaderboard {
    border-collapse: collapse;
    height: 100%;
}
.leaderboard th {
    color: rgba(239,239,239, 0.8);
    font-size: 0.8em;
}
.leaderboard td {
    color: rgba(239,239,239, 0.8);
}
.leaderboard tr:last-of-type td {
    border: 0;
}
.leaderboard td, .leaderboard th {
    text-align: center;
    vertical-align: middle;
    padding: 0.6rem;
    border-bottom: solid thin var(--highlight-element-color);
}
.leaderboard td:first-of-type, .leaderboard th:first-of-type {
    text-align: end;
}
.leaderboard td:has(.leaderboard-game-title), .leaderboard th:nth-of-type(3) {
    text-align: start;
}
td:first-of-type {
    width: auto;
    font-size: 0.85em;
}
td:has(img.game-capsule) {
    line-height: 0;
    width: 25%;
}
td:has(.leaderboard-game-title) {
    width: auto;
}
td:nth-of-type(4) {
    width: auto;
}
.game-capsule {
    width: 100%;
    height: auto;
    min-width: 80px;
    max-width: 120px;
    aspect-ratio: 2.66666666667;
    border-style: solid;
    border-width: thin;
    border-color: var(--highlight-element-color);
}
.game-capsule:hover {
    border-color: var(--active-element-color);
}
.leaderboard-game-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: var(--alt-font-color);
    text-decoration: none;
    transition: color 0.1s;
}
.leaderboard-game-title:hover {
    color: var(--active-element-color);
}