<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Achievement-Tracker | Games</title>
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- JS scripts -->
    <script type="text/javascript" src="/js/games.js" defer></script>
    <!-- CSS stylesheet -->
    <link rel="stylesheet" href="/css/variables.css">
    <link rel="stylesheet" href="/css/games.css">
</head>
<body>
    <div id="main-container">
        <div id="main-container-header">
            <label>Entries per Page <select id="page-entries-select">
                <option value="25" th:attr="selected=${page.size == 25}">25</option>
                <option value="50" th:attr="selected=${page.size == 50}">50</option>
                <option value="100" th:attr="selected=${page.size == 100}">100</option>
                <option value="250" th:attr="selected=${page.size == 250}">250</option>
                <option value="500" th:attr="selected=${page.size == 500}">500</option>
                <option value="1000" th:attr="selected=${page.size == 1000}">1K</option>
            </select></label>
            <input id="game-search" type="search" placeholder="Search any game" autocomplete="off">
        </div>
        <table>
            <thead>
            <tr>
                <th data-column-name="id">
                    <span class="column-name">ID</span>
                    <span class="sort-direction"></span>
                </th>
                <th data-column-name="name">
                    <span class="column-name">Name</span>
                    <span class="sort-direction"></span>
                </th>
                <th data-column-name="challenge">
                    <span class="column-name">Challenge Rating</span>
                    <span class="sort-direction"></span>
                </th>
                <th data-column-name="difficulty">
                    <span class="column-name">Difficulty Spread</span>
                    <span class="sort-direction"></span>
                </th>
                <th data-column-name="rating">
                    <span class="column-name">Rating</span>
                    <span class="sort-direction"></span>
                </th>
                <th data-column-name="release">
                    <span class="column-name">Release</span>
                    <span class="sort-direction"></span>
                </th>
            </tr>
            </thead>
            <tbody id="table-content">
            <tr th:if="${page.totalRecords == 0}" class="no-results"><td colspan="6">No matching results to show.</td></tr>
            <tr th:each="game : ${games}">
                <td><a target="_blank" th:href="@{ '/games/' + ${game.storeId} }"><img class="game-banner-img" th:data-actual-src="${game.capsuleImageURL}" src="/img/game-banner-placeholder.png" alt="Game Image"></a></td>
                <td>
                    <div class="title-achievements-container">
                        <a class="game-title" target="_blank" th:href="@{ '/games/' + ${game.storeId} }" th:text="${game.title}"></a>
                        <div class="top-achievements-container">
                            <img th:each="achievement : ${achievements.get(game.storeId)}" th:data-actual-src="${achievement.hidden ? achievement.iconGrayURL : achievement.iconURL}"
                                 class="achievement-icon" src="/img/achievement-icon-placeholder.png" th:classappend="${achievement.hidden ? 'hidden-achievement-icon' : null }"
                                 th:title="${(achievement.hidden ? 'Hidden Achievement' : achievement.displayName) + ' - ' + achievement.percentage + '%'}"
                                 alt="icon">
                        </div>
                    </div>
                </td>
                <td><span class="text-column challenge-rating" th:text="${game.challengeRating} + ' points'"></span></td>
                <td><span class="text-column difficulty-spread" th:text="${game.difficultySpread == null ? '-' : game.difficultySpread + ' %'}"></span></td>
                <td><span class="text-column rating" th:text="${game.rating == null ? 'N/A' : game.rating + ' %'}"></span></td>
                <td><span class="text-column release-date" th:text="${game.releaseDate == null ? 'N/A' : #temporals.format(game.releaseDate, 'MMM yyyy')}"></span></td>
            </tr>
            </tbody>
        </table>
        <div id="main-container-footer">
            <div id="page-information" th:data-total-entries="${page.totalRecords}" th:data-current-page="${page.current}">
                Showing <span id="page-range-start" th:text="${page.totalRecords != 0 ? page.rangeStartInteger : 0}"/> to <span id="page-range-end" th:text="${page.rangeEndInteger}"/> out of <span id="page-total-entries" th:text="${page.totalRecords}"/> entries
            </div>
            <div id="page-buttons-container">
                <!-- Previous Page Button -->
                <button id="page-prev-button" type="button" class="page-buttons" th:disabled="${!page.previousAvailable}"> &lt; </button>
                <!-- First Page -->
                <button type="button" class="page-buttons" th:text="${page.first}" th:classappend="${page.first == page.current} ? 'selected-page-button' : null"/>

                <!-- Middle Pages -->
                <th:block th:if="${page.moreThanOneAvailable}">
                <th:block th:each="pageNumber : ${page.pageNumbers.subList(1, page.pageNumbers.size() - 1)}">
                    <span th:if="${pageNumber == page.current - 2}"> ... </span>
                    <button type="button" class="page-buttons" th:if="${pageNumber >= page.current - 1 && pageNumber <= page.current + 1}"
                            th:text="${pageNumber}" th:classappend="${pageNumber == page.current} ? 'selected-page-button' : null"/>
                    <span th:if="${pageNumber == page.current + 2}"> ... </span>
                </th:block>

                <!-- Last Page -->
                <button type="button" class="page-buttons" th:text="${page.last}" th:classappend="${page.last == page.current} ? 'selected-page-button' : null"/>
                </th:block>
                <!-- Next Page Button -->
                <button id="page-next-button" type="button" class="page-buttons" th:disabled="${!page.nextAvailable}"> &gt; </button>
            </div>
        </div>
        <form id="filter-form" method="GET">
            <div id="achievements-filter">
                <h4 class="filter-header">Preferences</h4>
                <label><input id="achievements-checkbox" type="checkbox" th:checked="${prevRequestParams.achievementsAsNullableInt != null}"> Show only games with achievements </label>
                <label style="display: none"><input id="hidden-achievements-checkbox" type="checkbox" th:checked="${prevRequestParams.achievementsAsNullableInt == 2}"> hidden achievements only </label>
            </div>
            <div id="category-filter">
                <h4 class="filter-header">Categories</h4>
                <input id="category-search" type="search" placeholder="Search">
                <ul id="category-list">
                    <li class="category-item" th:each="category, index : ${usefulFilterData.categories}" th:data-pos="${index.count}">
                        <label class="category-name" th:inline="text">
                            <input class="category-checkbox" type="checkbox" th:value="${category.id}"
                                   th:checked="${prevRequestParams.categoriesAsList.contains(category.id)}">
                            [[${category.name}]]
                        </label>
                    </li>
                </ul>
            </div>
            <div id="reviews-filter">
                <h4 class="filter-header">Reviews</h4>
                <div id="reviews-inputs-container">
                    <input id="min-reviews-input" type="text" placeholder="e.g. 500" autocomplete="off"
                           th:data-default-min="${prevRequestParams.DEFAULT_MIN_REVIEWS}"
                           th:value="${prevRequestParams.minReviewsAsNullableInt}"
                           th:maxlength="${#strings.length(usefulFilterData.maxReviews)}"
                           th:size="${#strings.length(usefulFilterData.maxReviews)}">
                    <img id="range-separator" src="/img/range-indicator.png">
                    <input id="max-reviews-input" type="text" placeholder="&infin;" autocomplete="off"
                           th:data-default-max="${prevRequestParams.DEFAULT_MAX_REVIEWS}"
                           th:value="${prevRequestParams.maxReviewsAsNullableInt}"
                           th:maxlength="${#strings.length(usefulFilterData.maxReviews)}"
                           th:size="${#strings.length(usefulFilterData.maxReviews)}">
                </div>
            </div>
            <div id="release-date-filter">
                <h4 class="filter-header">Release Date</h4>
                <div id="release-inputs-container">
                    <label id="min" for="min-release-date"> From </label><input id="min-release-date" type="month" autocomplete="off"
                                        th:data-default-min="${prevRequestParams.DEFAULT_MIN_RELEASE}"
                                        th:value="${#temporals.format(prevRequestParams.minReleaseDateAsNullableDate, 'yyyy-MM')}"
                                        th:min="${usefulFilterData.minReleaseDate}">
                    <label for="max-release-date"> To </label><input id="max-release-date" type="month" autocomplete="off"
                                      th:data-default-max="${prevRequestParams.DEFAULT_MAX_RELEASE}"
                                      th:value="${#temporals.format(prevRequestParams.maxReleaseDateAsNullableDate, 'yyyy-MM')}"
                                      th:max="${#dates.format(#dates.createNow(), 'yyyy-MM')}">
                </div>
            </div>
            <div id="form-buttons-container">
                <button id="filter-submit-button" type="button" disabled>Apply Selected Filters</button>
                <button type="reset">Clear Filters</button>
            </div>
        </form>
    </div>
</body>
</html>