<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${game.title}"/>
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- JS scripts -->
    <script type="text/javascript" src="/js/gameDetails.js" defer></script>
    <!-- CSS stylesheet -->
    <link rel="stylesheet" href="/css/variables.css">
    <link rel="stylesheet" href="/css/gameDetails.css">
</head>
<body>
    <div id="game-information">
        <h1 th:text="${game.title}"></h1>
        <img th:src="${game.images.headerImageURL}">
        <p th:text="${game.shortDescription}"></p>
    </div>
    <div id="achievement-tier-table">
        <th:block th:each="tier : ${tiers}">
            <div class="tier-container" th:style="'background-color:' + ${tier.colorHex}">
                <span th:text="${tier.name()}"></span>
                <span th:inline="text">[[${tier.maxPercentage}]]% - [[${tier.minPercentage}]]%</span>
            </div>
            <div class="achievements-carousel-wrapper">
                <button data-direction="left" class="carousel-scroll-button" style="display: none"></button>
                <div class="achievements-container" th:inline="text">
                    <span class="empty-tier-message" th:inline="text" style="display: none">-- no [[${tier.name().toLowerCase()}]] achievements --</span>
                    <img class="achievement-icon" th:each="achievement : ${game.achievementsAsList}" th:if="${achievement.tier.equals(tier)}"
                         th:data-actual-src="${achievement.hidden ? achievement.iconGrayURL : achievement.iconURL}" th:style="'border-color:' + ${tier.colorHex}" src="/img/achievement-icon-placeholder.png"
                         th:title="${(achievement.hidden ? 'Hidden Achievement' : achievement.displayName) + ' - ' + achievement.percentage + '%'}"/>
                </div>
                <button data-direction="right" class="carousel-scroll-button" style="display: none"></button>
            </div>
        </th:block>
    </div>
    <th:block th:each="tier : ${tiers}">
        <h2 class="tier-title" th:inline="text">[[${tier.name()}]] ([[${tierCountMap.get(tier)}]])</h2>
        <table class="achievement-details-table">
            <tbody>
            <tr th:if="${tierCountMap.get(tier) == 0}"><td colspan="3" style="font-style: italic">-- no [[${tier.name().toLowerCase()}]] achievements --</td></tr>
            <tr th:each="achievement : ${game.achievementsAsList.reversed()}" th:if="${achievement.tier.equals(tier)}">
                <td><img class="achievement-icon-big" th:data-actual-src="${achievement.hidden ? achievement.iconGrayURL : achievement.iconURL}" src="/img/achievement-icon-placeholder.png" alt="icon"></td>
                <td><div class="achievement-text-details"><h3 class="achievement-title" th:text="${achievement.displayName}"/><p class="achievement-description" th:text="${achievement.description}"></p></div></td>
                <td><span class="achievement-percentage" th:text="${achievement.percentage} + '%'"></span></td>
            </tr>
            </tbody>
        </table>
    </th:block>
</body>
</html>