<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Achievement Tracker - Home</title>
    <script type="text/javascript" src="/js/pagination.js" defer></script>
    <script type="text/javascript" src="/js/sorting.js" defer></script>
    <script type="text/javascript" src="/js/filters.js" defer></script>
    <link rel="stylesheet" href="/css/homepage.css">
</head>
<body>
    <!-- Page Size Select -->
    <label for="page-entries-select">Entries per Page :</label>
    <select id="page-entries-select" onchange="changePageSize()">
        <option value="25" th:attr="selected=${page.size == 25}">25</option>
        <option value="50" th:attr="selected=${page.size == 50}">50</option>
        <option value="100" th:attr="selected=${page.size == 100}">100</option>
        <option value="250" th:attr="selected=${page.size == 250}">250</option>
        <option value="500" th:attr="selected=${page.size == 500}">500</option>
        <option value="1000" th:attr="selected=${page.size == 1000}">1K</option>
    </select>
    <table>
        <thead>
        <tr>
            <th id="id-header" onclick="sortTable('id-header')">
                <span class="column-name">ID</span>
                <span class="sort-direction sorted-default"></span>
            </th>
            <th id="name-header" onclick="sortTable('name-header')">
                <span class="column-name">Name</span>
                <span class="sort-direction sorted-default"></span>
            </th>
            <th id="release-date-header" onclick="sortTable('release-date-header')">
                <span class="column-name">Release</span>
                <span class="sort-direction sorted-default"></span>
            </th>
            <th id="challenge-rating-header" onclick="sortTable('challenge-rating-header')">
                <span class="column-name">Challenge Rating</span>
                <span class="sort-direction sorted-default"></span>
            </th>
            <th id="difficulty-spread-header" onclick="sortTable('difficulty-spread-header')">
                <span class="column-name">Difficulty Spread</span>
                <span class="sort-direction sorted-default"></span>
            </th>
        </tr>
        </thead>
        <tbody id="table-content">
        <tr th:each="game : ${games}">
            <td><img th:src="${game.images.capsuleImageURL}" alt="Game Image"></td>
            <td th:text="${game.title}"></td>
            <td th:text="${game.releaseDate}"></td>
            <td th:text="${game.challengeRating} + ' score'"></td>
            <td th:text="${game.difficultySpread == null ? '-' : game.difficultySpread + '%'}"></td>
        </tr>
        </tbody>
    </table>
    <div id="pagination-footer">
        <!-- Previous Page Button -->
        <button type="button" th:attr="disabled = ${!page.previousAvailable}"
                th:onclick="'changePageNumber(' + ${page.previous} + ')'"> &lt; </button>
        <!-- First Page -->
        <button type="button" th:text="${page.first}" th:style="${page.first == page.current} ? 'background-color: #808080;' : null"
                th:onclick="'changePageNumber(' + ${page.first} + ')'"/>

        <th:block th:if="${page.moreThanOneAvailable}">
        <th:block th:each="pageNumber : ${page.pageNumbers.subList(1, page.pageNumbers.size() - 1)}">
            <!-- Middle Pages -->
            <span th:if="${pageNumber == page.current - 2}"> ... </span>
            <button type="button" th:if="${pageNumber == page.current || (pageNumber >= page.current - 1 && pageNumber <= page.current + 1)}"
                    th:text="${pageNumber}" th:style="${pageNumber == page.current} ? 'background-color: #808080;' : null"
                    th:onclick="'changePageNumber(' + ${pageNumber} + ')'"/>
            <span th:if="${pageNumber == page.current + 2}"> ... </span>
        </th:block>

        <!-- Last Page -->
        <button type="button" th:text="${page.last}" th:style="${page.last == page.current} ? 'background-color: #808080;' : null"
                th:onclick="'changePageNumber(' + ${page.last} + ')'"/>
        </th:block>
        <!-- Next Page Button -->
        <button type="button" th:attr="disabled = ${!page.nextAvailable}"
                th:onclick="'changePageNumber(' + ${page.next} + ')'"> &gt; </button>
        <!-- Page Entry Information -->
        <span th:text="'Showing '+${page.totalRecords != 0 ? page.rangeStartInteger : 0}+' to '+${page.rangeEndInteger}+' out of '+${page.totalRecords}+' entries'"></span>
    </div>
</body>
</html>