<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Achievement Tracker - Home</title>
    <script type="text/javascript" src="/js/sorting.js" defer></script>
    <script type="text/javascript" src="/js/pagination.js" defer></script>
    <script type="text/javascript" src="/js/filters.js" defer></script>
    <script type="text/javascript" src="/js/search.js" defer></script>
    <link rel="stylesheet" href="/css/homepage.css">
</head>
<body>
    <!-- Page Size Select -->
    <label for="page-entries-select">Entries per Page :</label>
    <select id="page-entries-select">
        <option value="25" th:attr="selected=${page.size == 25}">25</option>
        <option value="50" th:attr="selected=${page.size == 50}">50</option>
        <option value="100" th:attr="selected=${page.size == 100}">100</option>
        <option value="250" th:attr="selected=${page.size == 250}">250</option>
        <option value="500" th:attr="selected=${page.size == 500}">500</option>
        <option value="1000" th:attr="selected=${page.size == 1000}">1K</option>
    </select>
    <!-- Game Search -->
    <input id="game-search" type="search" placeholder="Search any game" autocomplete="off">
    <!-- Results -->
    <table>
        <thead>
        <tr>
            <th id="id-header">
                <span class="column-name">ID</span>
                <span class="sort-direction"></span>
            </th>
            <th id="name-header">
                <span class="column-name">Name</span>
                <span class="sort-direction"></span>
            </th>
            <th id="release-header">
                <span class="column-name">Release</span>
                <span class="sort-direction"></span>
            </th>
            <th id="challenge-rating-header">
                <span class="column-name">Challenge Rating</span>
                <span class="sort-direction"></span>
            </th>
            <th id="difficulty-spread-header">
                <span class="column-name">Difficulty Spread</span>
                <span class="sort-direction"></span>
            </th>
        </tr>
        </thead>
        <tbody id="table-content">
        <tr th:each="game : ${games}">
            <td><img th:src="${game.images.capsuleImageURL}" alt="Game Image"></td>
            <td>
                <span th:text="${game.title}"></span>
                <div>
                    <img th:each="achievement : ${achievements.get(game.storeId)}" class="achievement-icon"
                         th:src="${achievement.hidden ? achievement.iconGrayURL : achievement.iconURL}"
                         th:title="${achievement.hidden ? achievement.displayName + ' (hidden)' : achievement.description} + ' - ' + ${achievement.percentage} + '%'"
                         alt="Achievement Icon">
                </div>
            </td>
            <td th:text="${game.releaseDate}"></td>
            <td th:text="${game.challengeRating} + ' score'"></td>
            <td th:text="${game.difficultySpread == null ? '-' : game.difficultySpread + '%'}"></td>
        </tr>
        </tbody>
    </table>
    <!-- Pagination -->
    <div id="pagination-footer">
        <!-- Previous Page Button -->
        <button type="button" th:attr="disabled = ${!page.previousAvailable}"
                th:onclick="'changePageNumber(' + ${page.previous} + ')'"> &lt; </button>
        <!-- First Page -->
        <button type="button" th:text="${page.first}" th:classappend="${page.first == page.current} ? 'selected' : null"
                th:onclick="'changePageNumber(' + ${page.first} + ')'"/>

        <!-- Middle Pages -->
        <th:block th:if="${page.moreThanOneAvailable}">
        <th:block th:each="pageNumber : ${page.pageNumbers.subList(1, page.pageNumbers.size() - 1)}">
            <span th:if="${pageNumber == page.current - 2}"> ... </span>
            <button type="button" th:if="${pageNumber >= page.current - 1 && pageNumber <= page.current + 1}"
                    th:text="${pageNumber}" th:classappend="${pageNumber == page.current} ? 'selected' : null"
                    th:onclick="'changePageNumber(' + ${pageNumber} + ')'"/>
            <span th:if="${pageNumber == page.current + 2}"> ... </span>
        </th:block>

        <!-- Last Page -->
        <button type="button" th:text="${page.last}" th:classappend="${page.last == page.current} ? 'selected' : null"
                th:onclick="'changePageNumber(' + ${page.last} + ')'"/>
        </th:block>
        <!-- Next Page Button -->
        <button type="button" th:attr="disabled = ${!page.nextAvailable}"
                th:onclick="'changePageNumber(' + ${page.next} + ')'"> &gt; </button>
        <!-- Page Entry Information -->
        <span th:text="'Showing '+${page.totalRecords != 0 ? page.rangeStartInteger : 0}+' to '+${page.rangeEndInteger}+' out of '+${page.totalRecords}+' entries'"></span>
    </div>
    <!-- Filters -->
    <form id="filter-form" method="GET">
        <!-- Toggle checkboxes -->
        <div>
            <label><input id="only-achievements-checkbox" type="checkbox" th:checked="${selectedFilters.achievementsOnly}"> Show only games with achievements</label>
        </div>
        <!-- Category checkboxes -->
        <div id="category-filter">
            <input id="category-search" type="search" placeholder="Search">
            <ul id="category-list">
                <li class="category-item" th:each="category, pos : ${categories}">
                    <input class="category-checkbox" th:id="'category-'+ ${pos.count}" type="checkbox" th:value="${category.id}"
                           th:checked="${selectedFilters.categoryIds.contains(category.id)}" th:disabled="${!category.available}">
                    <label class="category-name" th:for="'category-'+ ${pos.count}" th:text="${category.name}"
                        th:style="${!category.available} ? 'color: #999' : null"></label>
                </li>
            </ul>
        </div>
        <!-- Submit / Reset -->
        <button type="submit" disabled>Apply Selected</button>
        <button type="reset">Clear Filters</button>
    </form>
</body>
</html>